<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome Todo List</h1>
    <ul>
        {% for i in all_items %}
        <li> {{ i.content }}</li>
        <form action="/deleteTodoItem/{{ i.id}}/" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
        {% endfor %}
    </ul>
    <hr>
    <br>
    <form action="/add_todo_item/" method="post" class="form">
        {% csrf_token %}
        <input type="text" name="content">
        <br>
        <input type="submit" value="Add Todo Item">
    </form>
</body>
</html>